html
  head
    title= title
    link(rel= 'stylesheet' href='/css/layout.css')
    <link rel="stylesheet" href="https://use.typekit.net/lrb5nmu.css">
    <link rel="stylesheet" href="https://use.typekit.net/lrb5nmu.css">

  body
    <div class='header'>
      a(href='/')
        h2= 'DRAGEES'
        
      ul
        li
          a(href='/produits')
            span= 'NOS PRODUITS'
        li
          a(href='/login')
            span= 'COMPTE'
        li
          a(href='/panier')
            span= 'PANIER'
    </div>
      block content
      block footer
  
