
html
  head
    title= title
  body
    div(class="profil")
      h2= "MON COMPTE"
        form( method="POST" )
          input( type='firstname', name='firstname', placeholder='Nom')
          input( type='lastname', name='lastname', placeholder='Prénom')
          input( type='address', name='address', placeholder='Adresse')
          input( type='email', name="email", placeholder='Email' )
          input( type='password', name="password", placeholder='Mot de passe' )
          button( type="submit")= "Modifier mon compte"
        
      div
        h2= "MES ACHATS"
        ul
          each order in orders
            li
              span= order.id
              
          else
            li Il n'y a pas de produits en ce moment
