extends layout.pug

block content
  div(class="profil")
    h3= "MON EVENTS COMPTE"
      form( method="POST" )
        input( type='firstname', name='firstname', value = firstname)
        input( type='lastname', name='lastname', value= lastname)
        input( type='address', name='address', value= address)
        input( type='town', name='town', value= town)
        input( type='postal', name='postal', value= postal)

        input( type='email', name="email", placeholder='Email' )
        input( type='password', name="password", placeholder='Mot de passe' )
        button( type="submit")= "Modifier mon compte"
      
    div
      h3= "MES ACHATS"
      ul
        each order in orders
          li
            span= order.date
            
        else
          li Aucun achat a été effectué pour le moment
    div
      a(href="")
        h3= "PRENDRE UN RENDEZ-VOUS"
          h4="CHOISIR UN SERVICE"
      
